h2 {
  font-size: 20px;
  font-weight: 700;
}

.main-board {
  display: flex;
  flex-direction: column;
  width: 90%;

  height: fit-content;
}
.board {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 70px 0px 50px 0px;
  gap: 24px;
}

.input-board {
  height: 40px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  padding-left: 15px;
}

.design-search {
  width: 280px;
  border: 2px solid #d1d1d1;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-right: 20px;
  height: 40px;
}
.search-area {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 140px;
  height: 40px;
  padding: 10px 0px 0px 0px;
}

.img-search-board {
  height: 20px;
}

.img-search-board:hover {
  cursor: pointer;
  filter: invert(52%) sepia(72%) saturate(2702%) hue-rotate(159deg)
    brightness(92%) contrast(101%);
  transform: scale(1.1);
}

.button-board {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.addTaskIcon {
  height: 15px;
  filter: invert();
}

.addTaskButton {
  background-color: #2a3647;
  color: white;
  width: 240px;
  min-width: 168px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  font-size: 21px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  height: 55px;
}

.addTaskButton:hover {
  background-color: #29abe2;
  color: white;
  cursor: pointer;
  box-shadow: 3px 5px 3px 0px lightgrey;
}

h2 {
  color: #2a3647;
}

.board-mainpage {
  width: 100%;
}

.page-heading2 {
  font-size: 61px;
  font-weight: 700;
}

.board-mainpage {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  flex-wrap: wrap;
  gap: 24px;
}

.headlines-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-plus {
  width: 25px;
  height: 25px;
}

.board-plus:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.board-content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 80px;
  transition: transform 0.125s ease;
}

.board-noTasks {
  display: flex; /* display nonen beim adden */
  background-color: rgba(223, 221, 221, 0.26);
  border: 2px dotted #b6b6b6;
  color: #918e8e;
  border-radius: 15px;
  font-weight: 400;
  font-size: 15px;
  padding: 15px;
  justify-content: center;
}

.tasks-container {
  width: 256px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.task-design {
  cursor: pointer;
  visibility: visible;
  display: flex;
  flex-direction: column;
  width: 252px;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #eeeaea;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 6px rgba(0, 0, 0, 0.1);
  gap: 16px;
  background-color: white;
  position: relative;
}

.task-UserStory {
  background-color: #0038ff;
  color: white;
  padding: 4px 16px 4px 16px;
  border-radius: 10px;
  width: fit-content;
  font-weight: 300;
}

.task-TechnicalTask {
  background-color: #24cfbb;
  color: white;
  padding: 4px 16px 4px 16px;
  border-radius: 10px;
  width: fit-content;
  font-weight: 300;
}

.task-title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  gap: 8px;
}

.task-description {
  font-weight: 400;
  font-size: 16px;
  gap: 8px;
  height: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #a8a8a8;
}

.task-loading {
  display: flex;
  justify-content: space-between;
}

.task-worker {
  border-radius: 50px;
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.custom-progress {
  width: 50%;
  height: 10px;
  background-color: #e1e1e1;
  border-radius: 4px;
  position: relative;
}

.custom-progress-bar {
  position: absolute;
  background-color: #29abe2;
  border-radius: 4px;
  height: 10px;
  width: 0;
}

.progressbar {
  margin-top: 15px;
  height: 8px;
  width: 120px;
}
.progress-and-subtasks {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.subtasks {
  font-size: 14px;
  font-weight: 400;
}

.assigned-and-prio {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.assigned-to {
  display: flex;
}
.assigned-to div {
  margin-right: -12px;
}

.task-priority {
  margin-top: 10px;
}

.page-heading3 {
  font-size: 61px;
  font-weight: 700;
  word-break: break-word;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

.add-task-popup {
  position: absolute;
  left: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  height: 95vh;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  transition: all 0.125s ease;
}

.add-task {
  height: 100%;
  padding: 48px 0;
  gap: 0;
}

.form {
  gap: 0;
}

.form-top {
  margin-bottom: 32px;
}

.popup-close {
  position: absolute;
  top: 64px;
  right: 32px;
  cursor: pointer;
}

.close-popup-img {
  height: 40px;
  background-color: transparent;
}

.close-popup-img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.close-popup-img2 {
  height: 40px;
  background-color: transparent;
}

.close-popup-img2:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.popup2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup2-content {
  position: absolute;
  left: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 500px;
  height: 90vh;
  overflow: auto;
  padding: 48px 40px;
  overflow: auto;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  transition: all 0.125s ease;
}

.popup-show {
  left: 0;
  display: flex;
}

.popup-headline {
  font-size: 40px;
}

.hidden {
  display: none;
}

.rightside {
  height: 100vh;
}

.d-none {
  display: none;
}

.drop-zone {
  display: flex;
  box-sizing: border-box;
  background-color: rgba(225, 225, 228, 0.281);
  border: 2px dashed #2a3647;
  border-radius: 20px;
}

.rotate {
  rotate: 10deg;
}

.popup-category {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.icon {
  height: 26px;
  width: 26px;
}

.popup-date {
  display: flex;
  gap: 20px;
  margin-top: 25px;
  font-weight: 400;
  color: #3e4e64;
  font-size: 18px;
}
.popup-date2 {
  color: black;
}
.description-popup {
  font-weight: 400;
  font-size: 18px;
}

.priority-popup {
  display: flex;
  gap: 40px;
  margin-top: 25px;
  font-weight: 400;
  color: #3e4e64;
  font-size: 18px;
}
.priority-popup2 {
  color: black;
}

.contacts-in-popup {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: 400;
  font-size: 18px;
}

.popup-assignedto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
  font-weight: 400;
  color: #3e4e64;
  font-size: 18px;
}
.popup-assignedto2 {
  font-size: 15px;
  color: black;
  margin-left: 20px;
}
.popup-subtasks {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
  font-weight: 400;
  color: #3e4e64;
}

.popup-subtasks2 {
  font-size: 16px;
  color: black;
  margin-left: 25px;
  padding: 4px 0px 4px 12px;
  border-radius: 20px;
  align-items: center;
}

.popup-subtasks2:hover {
  background-color: rgb(224, 224, 224);
}

.line-through {
  text-decoration: line-through !important;
}

/* .popup-subtasks2 input[type="checkbox"] {
  display: none; 
}

.popup-subtasks2 label {
  position: relative;
  padding-left: 40px; 
  cursor: pointer;
}

.popup-subtasks2 label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px; 
  width: 20px;
  height: 20px;
  border: 1px solid  #3e4e64; 
  background-color: #fff; 
  border-radius: 5px;
}

.popup-subtasks2 input[type="checkbox"]:checked + label::before {
  background-color: #fdfdfd; 
}

.popup-subtasks2 label::after {
  content: '\2713'; 
  position: absolute;
top: -15px;
  
  font-size: 32px; 
  font-weight: bold;
  color: #3e4e64; 
  display: none; 
  
}

.popup-subtasks2 input[type="checkbox"]:checked + label::after {
  display: block; 
} */

.edit-and-delete {
  display: flex;
  flex-direction: row;
  justify-content: end;
  bottom: 50px;
  right: 50px;
  gap: 8px;
  font-weight: 400;
  color: #3e4e64;
  font-size: 16px;
}

.popup-delete {
  border-right: 1px solid lightgrey;
  padding-right: 10px;
}

.popup-delete:hover {
  cursor: pointer;
  font-weight: 500;
  filter: invert(65%) sepia(42%) saturate(3270%) hue-rotate(165deg)
    brightness(93%) contrast(90%);
}

.popup-edit:hover {
  cursor: pointer;
  font-weight: 500;
  filter: invert(65%) sepia(42%) saturate(3270%) hue-rotate(165deg)
    brightness(93%) contrast(90%);
}

.edit-task {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
}

/* Track */
.popup2-content::-webkit-scrollbar-track {
  background: #fafafa;
  all: unset;
}

/* Handle */
.popup2-content::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  all: unset;
}

/* Handle on hover */
.popup2-content::-webkit-scrollbar-thumb:hover {
  background: #7d7d7d;
  all: unset;
}

.edit-task .form-top {
  flex-direction: column;
}

.edit-task-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: unset;
  background-color: #2a3647;
  color: white;
  padding: 12px 21px;
  border-radius: 10px;
}

.edit-task-btn:hover {
  box-shadow: 3px 5px 3px 0px lightgrey;
  background-color: #29abe2;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-1 {
  flex: 1 !important;
}

.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-task-btn-mobile {
  cursor: pointer;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding: 3px;
  background-color: #2a3647;
  align-items: center;
  justify-content: center;
}

.add-task-btn-mobile:hover {
  background-color: #29abe2;
}

.move-to-popup {
  position: absolute;
  border-radius: 10px;
  background-color: #2a3647;
  color: white;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 188px;
  padding: 0 16px;
  z-index: 150;
}

.move-to-popup span {
  font-size: 20px;
}

.move-to-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-field {
  width: 100%;
}

.search-field-icon {
  cursor: pointer;
  position: absolute;
  right: 0;
  padding-right: 21px;
}

@media only screen and (max-width: 1100px) {
  .board-mainpage {
    display: flex;
  }

  .main-board {
    margin-left: 0;
    align-items: center;
    margin-bottom: 128px;
  }

  .page-heading2 {
    text-align: center;
    margin-top: 20px;
  }
  .search-area {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  .board {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 48px 0 50px 0;
  }

  .board-content {
    padding-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .popup {
    align-items: flex-start;
    overflow: auto;
  }

  .popup-close {
    top: 64px;
    right: 0;
  }

  .add-task {
    overflow: unset;
  }

  .popup-show {
    overflow: auto;
  }

  .popup-show::-webkit-scrollbar {
    all: unset;
  }

  .popup-show::-webkit-scrollbar-thumb {
    all: unset;
  }

  .popup-show::-webkit-scrollbar-track {
    all: unset;
  }

  .task-added {
    display: none;
  }

  .form-bottom {
    padding-bottom: 64px;
  }
}

@media (max-width: 680px) {
  .board {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 620px) {
  .page-heading2 {
    font-size: 47px;
  }

  .add-task-popup {
    width: 85%;
  }

  .board-mainpage {
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .main-board {
    align-items: flex-start;
    width: 90%;
  }

  .board {
    width: 100%;
    align-items: flex-start;
  }

  .board-header {
    width: 100%;
  }

  .search-area {
    width: 100%;
  }

  .design-search {
    width: 100%;
  }

  .addTaskButton {
    display: none;
  }

  .add-task-btn-mobile {
    display: flex;
  }
}

@media (max-width: 568px) {
  .add-task-popup {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .page-heading3 {
    font-size: 47px;
  }

  .popup2-content {
    position: absolute;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 330px;
    height: 80vh;
    overflow: auto;
    padding: 48px 40px;
    overflow: auto;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001a;
    transition: all 0.125s ease;
  }

  .popup-show {
    left: 0;
    display: flex;
  }
}
@media (max-width: 570px) {
  .rightside {
    scrollbar-width: none;
  }
}
