h2 {
    font-size: 20px;
    font-weight: 700;
}

.main-board {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 100px;
    
    
}
.board {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 88px 0px 50px 0px;
    
    
}

.input-board{
height: 40px;
font-size: 16px;
background-color: transparent;
border: none;
padding-left: 15px;
}

.design-search{
    width: 280px;
    border: 2px solid #d1d1d1;
   background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-right: 20px;
    height: 40px;
}
.search-area {
  
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 140px;
}


.img-search-board{
    height: 20px;
   
}


.img-search-board:hover {
    cursor: pointer;
    filter: invert(52%) sepia(72%) saturate(2702%) hue-rotate(159deg) brightness(92%) contrast(101%);
    transform: scale(1.1);
}

.button-board {
    background-color: rgba(255, 255, 255, 0);
    border: none;
   
}

.addTaskIcon{
    height: 15px;
    filter: invert();
}

.addTaskButton {
background-color: #2A3647;
color: white;
width: 140px;
height: 45px;
border-radius: 15px;
border: 1px solid #d1d1d1;
font-family: inherit;
font-size: 18px;
font-weight: bold;

}

.addTaskButton:hover {
    background-color: #29ABE2;
    color: white;
    cursor: pointer;
   box-shadow: 
   3px 5px 3px 0px  lightgrey;
    }


    h2 {
        color: #2A3647;
    }

  .board-mainpage{
    width: 100%;
    
   
    
  }

  .page-heading2 {
    
    font-size: 61px;
    font-weight: 700;
  }

  .board-mainpage{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
  }
  

  .headlines-board{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  }

.board-plus{
    width: 25px;
    height: 25px;
}

.board-plus:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.board-content {
    display: flex;
    flex-direction: column;
    
}

.board-noTasks{
    display: flex;
    background-color: rgba(216, 213, 213, 0.349);
    border: 2px dotted #aaaaaa;
    color: #757575;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
    margin-top:20px;
}


.task-design {
    display: flex;
    flex-direction: column;
    margin-top: 100px; 
    width: 252px;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid #eeeaea;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 6px rgba(0, 0, 0, 0.1);
    gap: 16px;
    background-color: white;
}

.task-userStory{
background-color:#0038FF;
color: white;
padding: 4px 16px 4px 16px;
border-radius: 10px;
width: fit-content;
font-weight: 300;




}

.task-technicalTask{
background-color: #1FD7C1;
color: white;
padding: 4px 16px 4px 16px;
border-radius: 10px;
width: fit-content;
font-weight: 300;


}


.task-title{
font-weight: 700;
font-size: 16px;
gap: 8px;
}


.task-description{
margin-top: 10px;
font-weight: 400;
font-size: 16px;
gap: 8px;
height: 38px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
color: #A8A8A8;
;
}

.task-loading{
display: flex;
justify-content: space-between;   



}


.task-worker{
border-radius: 50px;
}


.progressbar{
    height: 8px;
    width: 120px;
  
}

.Subtasks{
    font-size: 12px;
    font-weight: 500;
}


.popup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
}

.add-task-popup {
    position: absolute;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    transition: all 0.125s ease;
}

.popup-show {
    left: 0;
    display: flex;
}

.popup-close {
    position: absolute;
    top: 64px;
    right: 32px;
    cursor: pointer;
}

.close-popup-img{
    height: 40px;
    background-color: transparent;
}

.close-popup-img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.close-popup-img2 {
    height: 40px;
    background-color: transparent;
}

.close-popup-img2:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.popup2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; 
  }
  
  .popup2-content {
    
    display: flex;
    gap: 20%;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 400px; 
    height: 80%; 
    overflow: auto; 
  }
  
  .popup2-close {
   position: absolute;
    cursor: pointer;
    color: #888;
    z-index: 1;
  }
  
 
  .popup2-show {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .popup2-hide {
    opacity: 0;
   
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  



.rightside {
    height: 100vh;
}

.d-none {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .board-mainpage {
      display: flex;
      flex-direction: column; 
      align-items: center; 
     
    }
    
    .page-heading2 {
      text-align: center; 
      margin-top: 20px; 
    }
    .search-area {
      margin-top: 20px; 
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0; 
      flex-direction: column;
    }
    .board {
        text-align: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 90%;
    }
   

  }
  

  @media only screen and (max-width: 1500px)  {
    .board-content {
        margin-bottom: 35px; 
      }
      .popup-show {
        right: 10%; 
        border-radius: 20px;
        display: flex;
    justify-content: center;
    align-items: center;
    }
  }

  @media (max-width: 900px) {
    .popup {
        align-items: flex-start;
        overflow: auto;
    }

    .popup-close {
        top: 64px;
        right: 0;
    }
  }

  @media (max-width: 620px) {
    .add-task-popup {
      width: 85%;
    }
}

@media (max-width: 568px) {
    .add-task-popup {
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
    }
}