
.orange {
  background-color: #ff7a00;
}

.purple {
  background-color: #6e52ff;
}

.pink {
  background-color: #fc71ff;
}

.yellow {
  background-color: #ffbb2b;
}

.green {
  background-color: #1fd7c1;
}

.darkblue {
  background-color: #462f8a;
}

.violet {
  background-color: #9327ff;
}

.red {
  background-color: #ff4646;
}

.contacts-container {
  display: flex;
  width: 100%;
}

.contact-leftside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 456px;
  background-color: white;
  box-shadow: 4px 0px 6px 0px #00000014;
  overflow: auto;
  position: relative;
  z-index: 15;
}

.contact-list {
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  width: 90%;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding: 120px 64px;
  gap: 32px;
}

.heading-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.seperator-heading {
  width: 3px;
  background-color: #29abe2;
  height: 59px;
}

.subheading {
  font-size: 27px;
  color: #2a3647;
}

.add-contact-btn {
  cursor: pointer;
  display: flex;
  background-color: #2a3647;
  border-radius: 10px;
  border: 1px;
  padding: 12px 0;
  gap: 16px;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: 700;
}

.add-contact-btn:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.contact-heading {
  display: flex;
  gap: 54px;
  align-items: center;
}

.contact-card {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.name-initials {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  border: 3px solid white;
  box-shadow: 0px 0px 4px 0px #0000001a;
  font-size: 47px;
  font-weight: 500;
  color: white;
  min-width: 120px;
  aspect-ratio: 1 / 1;
}

.contact-heading-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cotact-name {
  font-size: 47px;
}

.edit-contact {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 16px;
}

.edit-contact div {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 13px;
}

.edit-contact div:hover {
  color: #29abe2;
}

.edit-contact div:hover img {
  filter: invert(44%) sepia(76%) saturate(4964%) hue-rotate(192deg)
    brightness(94%) contrast(105%);
}

.contact-information {
  font-size: 20px;
  padding: 27px 0;
}

.contact-info-box {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.info-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-email {
  color: #007cee;
}

.contact-box {
  cursor: pointer;
  display: flex;
  gap: 35px;
  border-radius: 10px;
  padding: 15px 24px;
  background-color: white;
  align-items: center;
  justify-content: flex-start;
}

.contact-box:hover {
  background-color: #f7f7f7;
}

.initials {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  aspect-ratio: 1/ 1;
  border-radius: 49px;
  font-size: 12px;
  border: 2px solid white;
}

.contact-info-name {
  font-size: 20px;
}

.contact-info-in-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.first-letter-field {
  display: flex;
  font-size: 20px;
  padding: 17px 36px;
  border-bottom: 1px solid #d1d1d1;
}

.active-contact {
  background-color: #2a3647;
  color: white;
}

.active-contact:hover {
  background-color: #2a3647;
  color: white;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 99;
}

.new-contact-container {
  display: flex;
  background-color: white;
  align-items: center;
  width: 85%;
  border-radius: 30px;
  height: 70vh;
  justify-content: space-between;
}

.add-contact-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2a3647;
  color: white;
  padding: 32px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 100%;
}

.add-contact-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 70%;
  padding: 64px;
  gap: 64px;
}

.close-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 32px;
  right: 32px;
}

.clear-btn {
  background-color: white;
}

.contact-submit-field {
  display: flex;
  gap: 24px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
}

.d-none {
  display: none;
}