* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 80px;
    padding-left: 77px;
}


.sign_up {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-evenly;
    position: absolute;
    top: 60px;
    right: 20px;
}

.sign_up button {
    width: 91px;
    height: 49px;
    border-radius: 8px;
    padding: 15px, 16px, 15px, 16px;
    gap: 10px;
    background-color: #2A3647;
    color: #FFFFFF;
}

.sign_up p {
    font-weight: 400px;
    font-size: 20px;
    line-height: 24px;
}

form {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    
    
    
}

.log_in_field,
.sign-up_field {
    width: 652px;
    height: 493px;
    border: 1px solid lightgray;
    border-radius: 40px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 14px lightgray;
    display: flex;
    flex-direction: column;
    position: relative;
}

.log_in_headline_container {
    margin-top: 30px;
}

.log_in_headline {
    font-weight: 700px;
    font-size: 61px;
    line-height: 73.2px;
}

.input_container, 
.sign-up-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    position: relative;
    width: 70%;
    height: 50px;
    margin-top: 30px;
}

.input-box input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 14px lightgray;
    font-size: 20px;
    font-weight: 400px;
    line-height: 24px;
    padding: 10px;
    
    
}

.input-box input:focus {
    border: 1px solid #5EC0E9;
}

.input-box img {
    position: absolute;
    right: 15px;
    top: 25%;
    transform: translate(-25%);
}

.remember {
    margin-top: 45px;
    margin-left: 150px;
    display: flex;
    justify-content: flex-start;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 45px;
}

.log-in-button button {
    width: 91px;
    height: 49px;
    border-radius: 8px;
    padding: 15px, 16px, 15px, 16px;
    gap: 10px;
    background-color: #2A3647;
    color: #FFFFFF;
}

.guest-button button {
    width: 91px;
    height: 49px;
    border-radius: 8px;
    padding: 15px, 16px, 15px, 16px;
    gap: 10px;
    background-color: #FFFFFF;
    border: 3px solid #2A3647;
}

.guest-button a {
    color: #2A3647;
}

.accept-checkbox {
    color: #29ABE2;
}



/*=============****sign up****========================*/
.sign-up-field {
    width: 598px;
    height: 630px;
    border: 1px solid lightgray;
    border-radius: 40px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 14px lightgray;
    display: flex;
    flex-direction: column;
}

.arrow-headline {
    display: flex;
    justify-content: center;
}




/*=============footer for log in and sign up========================*/

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
 
.privacy-legal {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.privacy-legal a {
    color: #A8A8A8;
    cursor: pointer;
    size: 16px;
    line-height: 19.2px;
    font-weight: 400px;
    
}

.privacy-legal a:hover {
    color: #29ABE2;
}

.arrow-svg {
    position: absolute;
    top: 40px;
    left: 64px;
}



