.PrivacySetup {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  font-size: 16px;
  padding-top: 88px;
  overflow: auto;
}

.LegalNoticeSetup {
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  line-height: 180%;
  padding-top: 88px;
  overflow: auto;
}

.helpSite{
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  line-height: 150%;
  padding-top: 88px;
  overflow: auto;
}
h1, h2 {
    margin-bottom: 10px;
  }

  h1 {
  font-size: 40px;
  }
p, li  {
    margin-bottom: 10px;
  }
 b  {
  color: rgb(115, 227, 235);
 }

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #2A3647;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: #485e7c;
}