* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.gap-8 {
    gap: 8px !important;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 232px;
    height: 100vh; /* In Figma steht 1024, ist aber bei meiner Auflösung zu groß */
    background-color: #2A3647;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0 64px 0;
    z-index: 99;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 128px;
    align-items: center;
    width: 100%;
}

.sidebar-logo {
    width: 100.03px;
    height: 121.97px;
    color: white;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.nav-link {
    color: #CDCDCD;
    display: flex;
    gap: 8px;
    padding: 8px 56px;
    align-items: center;
}

.nav-link:hover {
    color: white;
}

.nav-link img:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(123deg) brightness(101%) contrast(104%);
}

.sidebar-icon {
    width: 30px;
}

.sidebar-bottom {
    display: flex; 
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 100%;
}

.help-link {
    color:#A8A8A8;
    padding: 8px;
}

.help-link:hover {
    color: white;
    filter: drop-shadow(1px 1px 8px rgba(0, 0, 0, 0.6));
}

.header {
    display: flex;
    justify-content: space-between;
    /* Steht so auf Figma 
    max-width: 1440px; */
    padding: 20px 40px 20px 348px;
    box-shadow: 0px 4px 4px 0px #0000001A;
    align-items: center;
    background-color: white;
    z-index: 9;
    position: absolute;
    width: 100%;
}

.special-h2 {
    font-size: 24px;
    font-weight: 400;
}

.profile-btn {
    cursor: pointer;
    width: 48px;
    height: 48px;
    padding: 10px;
    border-radius: 559px;
    background-color: white;
    color: #29ABE2;
    font-size: 14px;
    font-weight: 700;
    border: 3px solid #2A3647;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.question-mark-icon {
    cursor: pointer;
    width: 20px;
    height: auto;
}

.question-mark-icon:hover {
    filter: brightness(0) saturate(100%) invert(16%) sepia(16%) saturate(1380%) hue-rotate(175deg) brightness(91%) contrast(84%);
}

.main {
    display: flex;
    background-color: #F6F7F8;
    height: 100vh;
}

.rightside {
    display: flex;
    flex: 1;
    padding-top: 88px;
    justify-content: center;
}

.active-nav {
    background-color: #091931;
    color: white;
}

.active-img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(123deg) brightness(101%) contrast(104%);
}

.page-heading {
    font-size: 61px;
}

.add-task {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-top {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.form-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.seperator {
    background-color: #d1d1d1;
    width: 1px;
    height: auto;
}

label {
    font-size: 20px;
}

input, select, textarea {
    border:unset;
}

.input, .select {
    width: 100%;
    border: 1px solid #D1D1D1;
    padding: 12px 21px;
    border-radius: 10px;
}

.textarea {
    padding: 18px 16px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    height: 136px;
}

::placeholder {
    color: #D1D1D1;
    font-size: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}
