.rightside {
    position: relative;
}

.summary {
    width: 100%;
    padding: 80px 64px;
    display: flex;
    flex-direction: column;
    gap:32px;
}

.loading-popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    z-index: 100;
}

.custom-loader {
    width:100px;
    height:100px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#2A3647);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 16px),#000 0);
    animation:s3 1s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}

.centered {
    align-items: center !important;
    justify-content: center !important;
}

.summary-headline {
    display: flex;
    align-items: center;
    gap: 30px;
}

.summary-seperator {
    width: 3px;
    height: 59px;
    background-color: #29ABE2;
}

.special-subheading {
    font-size: 27px;
    font-weight: 400;
    color: #2A3647;
}

.summary-content {
    display: flex;
}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 560px;
    width: 50%;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 168px;
    gap: 32px;
}

.todo, .done {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 264px;
    width: 50%;
    height: 168px;
    gap: 18px;
    padding: 38px 19px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    background-color: white;
    border-radius: 30px;
    transition: all .125s ease;
}

.todo:hover, .done:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
}

.todo:hover .summary-symbol, .done:hover .summary-symbol{
    background-color: white;
}

.todo:hover .summary-icon, .done:hover .summary-icon {
    filter: brightness(0) saturate(100%) invert(18%) sepia(44%) saturate(408%) hue-rotate(175deg) brightness(92%) contrast(91%);
}

.todo:hover .number, .done:hover .number, .todo:hover .summary-text, .done:hover .summary-text {
    color: white;
}

.number {
    font-size: 64px;
    font-weight: 600;
}

.summary-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #2A3647;
    text-align: center;
}

.summary-symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A3647;
    border-radius: 50%;
    min-width: 69px;
    min-height: 69px;
    width: 69px;
    height: 69px;
}

.summary-icon {
    width: 32px;
    height: 32px;
}

.full-row {
    display: flex;
    max-width: 560px;
    width: 100%;
    height: 168px;
    border-radius: 30px;
    padding: 28px 48px;
    gap: 61px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    transition: all 0.125s ease;
}

.full-row:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
}

.full-row:hover .number, .full-row:hover .summary-text, .full-row:hover .deadline-date, .full-row:hover .deadline-text {
    color: white;
}

.summary-urgent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.summary-priority {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF3D00;
    border-radius: 50%;
    width: 69px;
    height: 69px;
}

.row-seperator {
    width: 2px;
    background-color: #d1d1d1;
    height: 102px;
}

.deadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.deadline-date {
    font-size: 21px;
    color: #2A3647;
    font-weight: 700;
}

.task-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 168px;
    border-radius: 30px;
    gap: 13px;
    padding: 25px 0;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    transition: all .125s ease;
}

.task-box:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
}

.task-box:hover .number, .task-box:hover .summary-text{
    color: white;
}

.content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 32px;
}

.greeting {
    font-size: 47px;
    font-weight: 500;
    color: #2A3647;
}

.user-name {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
    text-align: center;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}

@media (max-width: 1275px) {
    .full-row {
        gap: 40px;
    }
}

@media (max-width: 1190px) {
    .full-row {
        padding:28px 32px;
    }

    .greeting {
        font-size: 32px;
    }

    .user-name {
        font-size: 47px;
    }

    .number {
        font-size: 47px;
    }

    .todo, .done  {
        gap: 14px;
        padding: 38px 16px;
    }

    .row {
        gap: 24px;
    }
}

@media (max-width: 1120px) {
    .full-row {
        padding: 28px 24px;
        gap: 28px;
    }
}

@media (max-width: 1050px) {
    .content-right {
        display: none;
    }
    
    .content-left {
        width: 100%;
        gap: 24px;
    }

    .summary {
        align-items: flex-start;
        width: 80%;
        gap: 24px;
        padding: 48px 64px;
        height: fit-content;
    }
}

@media (max-width: 950px) {

    .summary-headline {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .summary {
        align-items: center;
    }

    .summary-seperator {
        display: none;
    }

    .special-subheading::after {
        content: '';
        display: flex;
        background-color: #29ABE2;
        width: 90px;
        height: 3px;
        margin-top: 16px;
    }

    .row {
        height: 140px;
        justify-content: flex-start;
        width: 464px;
    }

    .todo, .done {
        width: 220px;
        height: 140px;
    }

    .full-row {
        height: 140px;
    }

    .task-box {
        width: 140px;
        height: 140px;
    }

    .page-heading {
        font-size: 47px;
    }

    .special-subheading {
        font-size: 20px;
    }

    .number {
        font-size: 47px;
    }

    .summary-text {
        font-size: 14px;
    }

    .deadline-date {
        font-size: 16px;
    }

    .deadline-text {
        font-size: 14px;
    }
}

@media (max-width: 750px) {
    .summary {
        width: 80%;
        padding: 48px 0;
    }
}

@media (max-width: 650px) {

    .row {
        height: 110px;
        max-width: 396px;
    }

    .todo, .done {
        max-width: 186px;
        height: 110px;
        gap: 10px;
    }

    .full-row {
        height: 110px;
        max-width: 396px;
    }

    .row-seperator {
        height: 56px;

    }

    .task-box {
        width: 116px;
        height: 116px;
    }

    .summary-symbol {
        min-width: 40px;
        min-height: 40px;
        width: 40px;
        height: 40px;
    }

    .summary-icon {
        width: 18px;
        height: 13px;
    }

    .summary-priority {
        width: 40px;
        height: 40px;
    }

    .summary-icon-priority {
        width: 18px;
        height: 13px;
    }

    .summary {
        justify-content: flex-start;
        padding: 48px 0 0;
        gap: 38px;
    }

}

@media (max-width: 500px) {
    .summary {
        width: 100%;
        padding: 40px 24px;
    }
}

@media (max-width: 450px) {
    .todo, .done {
        width: 120px;
        height: 82px;
        padding: 0;
    }

    .row, .full-row {
        height: 82px;
        gap: 8px;
        width: 264px;
    }

    .row {
        justify-content: space-between;
    }

    .full-row {
        width: 264px;
        padding: 0 16px;
        align-items: center;
    }

    .task-box {
        width: 82px;
        height: 82px;
    }

    .number {
        font-size: 36px;
    }

    .deadline-date {
        font-size: 16px;
    }

    .summary-text {
        font-size: 12px;
    }

    .deadline-text {
        font-size: 12px;
    }
}

@media (max-height: 860px) {
    .summary {
        padding: 40px 64px;
    }
}

@media (max-height: 815px) {
    .summary {
        gap: 18px;
    }

    .content-left {
        gap: 18px;
    }
}