<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/fonts.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

</body>

</html>
<div class="sidebar">
    <div class="sidebar-top">
        <img src="assets/img/logo-sidebar.png" alt="join logo" class="sidebar-logo">
        <nav class="sidebar-nav">
            <a href="summary.html" class="nav-link"><img src="assets/img/sidebar_icon_summary.svg" alt="summary icon"
                    class="sidebar-icon"><span>Summary</span></a>
            <a href="addTask.html" class="nav-link"><img src="assets/img/sidebar_icon_add_task.svg" alt="add task icon"
                    class="sidebar-icon"><span>Add Task</span></a>
            <a href="board.html" class="nav-link"><img src="assets/img/sidebar_icon_board.svg" alt="board icon"
                    class="sidebar-icon"><span>Board</span></a>
            <a href="contacts.html" class="nav-link"><img src="assets/img/sidebar_icon_contacts.svg" alt="contacts icon"
                    class="sidebar-icon"><span>Contacts</span></a>
        </nav>
    </div>
    <div class="sidebar-bottom">
        <a href="privacyPolicy.html" class="help-link" target="_blank">Privacy Policy</a>
        <a href="legalNotice.html" class="help-link" target="_blank">Legal notice</a>
    </div>
</div>
<header class="header">
    <h2 class="special-h2">Kanban Project Management Tool</h2>
    <div class="header-right">
        <a href="help.html"><img src="assets/img/header_question_mark.svg" alt="question mark icon" class="question-mark-icon"></a>
        <button class="profile-btn">SM</button>
    </div>
</header>