
    <div class="sidebar-top">
        <a href="summary.html">
        <img src="assets/img/logo-sidebar.png" alt="join logo" class="sidebar-logo"></a>
        <nav class="sidebar-nav">
            <a href="summary.html" class="nav-link"><img src="assets/img/sidebar_icon_summary.svg" alt="summary icon"
                    class="sidebar-icon"><span>Summary</span></a>
            <a href="addTask.html" class="nav-link"><img src="assets/img/sidebar_icon_add_task.svg" alt="add task icon"
                    class="sidebar-icon"><span>Add Task</span></a>
            <a href="board.html" class="nav-link"><img src="assets/img/sidebar_icon_board.svg" alt="board icon"
                    class="sidebar-icon"><span>Board</span></a>
            <a href="contacts.html" class="nav-link"><img src="assets/img/sidebar_icon_contacts.svg" alt="contacts icon"
                    class="sidebar-icon"><span>Contacts</span></a>
        </nav>
    </div>
    <div class="sidebar-bottom">
        <a href="privacyPolicy.html" class="help-link" target="_blank">Privacy Policy</a>
        <a href="legalNotice.html" class="help-link" target="_blank">Legal notice</a>
    </div>
